html, body {
	height: 100%;
	margin: 0;
}

div.content {
	margin: 5px;
	border: 2px solid black;
}

#gamecontainer {
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 480px;
}

.game {
	margin: 0px;
	border: 0px;
	padding: 0px;
}
